* {
  border: 1px solid magenta;
}

body {
  font-family: "Fredoka One", cursive;
  /* background-color: pink; */
}

section {
  text-align: center;
}

.game--title {
  font-family: "Fredoka One", cursive;
}

.game--container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.cell {
  font-family: "Fredoka One", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.game--status,
.game--restart {
  font-family: "Montserrat", sans-serif;
}

.game--restart {
  border-radius: 50%;
  border: 8px solid #333333;
  width: 5rem;
  height: 5rem;
}
